



html {
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}

.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
  padding-inline: var(--gutter);
}

.video-loop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.05;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
    padding: 3rem 0;
    position: relative;
    display: flex;
    justify-content: center;
  
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    z-index: 1000;
  }
  
  .header::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    border-bottom: 0.1rem solid var(--color-input-border);
    top: 0;
    z-index: -1;
    background-color: var(--color-background);
  }
  
  .navigation__list {
    display: flex;
    gap: 3rem;
  }
  
  .navigation__link:link,
  .navigation__link:visited {
    text-decoration: none;
    font-weight: var(--font-weight-medium);
  }
  
  .navigation__link:hover,
  .navigation__link:active {
    text-decoration: underline;
    color: var(--color-text);
  }
  
  .container:has(.bio:target) .navigation__bio,
  .container:has(.skills:target) .navigation__skills,
  .container:has(.media:target) .navigation__media,
  .container:has(.projects:target) .navigation__projects,
  .container:has(.clients:target) .navigation__clients,
  .container:has(.contact:target) .navigation__contact {
    color: var(--color-blue);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
  }
  
  .burger-menu__checkbox {
    display: none;
  }
  
  /* Toggle Start */
  .toggle {
    display: flex;
    margin-left: auto;
    gap: 1rem;
  }
  
  .toggle__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-18);
  }
  .toogle__checkbox {
    display: none;
  }
  
  .toggle__label {
    display: block;
    position: relative;
    background-color: var(--color-black);
    border-radius: 1.5rem;
    width: 4.5rem;
    height: 2.2rem;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    transition: 0.3s;
  }
  
  .toggle__label::after {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: block;
    background-color: var(--color-white);
    transition: 0.3s;
  }
  
  .toogle__checkbox:checked + .toggle__label {
    background-color: var(--color-white);
  }
  
  .toogle__checkbox:checked + .toggle__label::after {
    background-color: var(--color-green);
    transform: translateX(2.1rem);
  }
  
  /* Toggle End */